
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="RecipeForm" (ngSubmit)="OnSubmit()" >

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">
            Save
          </button>
          <button class="btn btn-danger" type="button" (click)="OnCancel()">
            Cancel
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" >
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" id="Description" rows="6" formControlName="Description">

            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ImageUrl">Imageurl</label>
            <input type="text" id="ImageUrl" class="form-control" formControlName="ImageUrl" #imagepath />
          </div>
        </div>
      </div>
          <div class="row">
            <div class="col-xs-12">
              <img [src]="imagepath.value" class="img-responsive" style="max-height:100px; max-width:100px"/>
            </div>

          </div>

      <div class="row">
           <div class="col-12" formArrayName="ingredients">
             <div class="row "
                  *ngFor="let item of controls; let i=index"
                  [formGroupName]="i"
                  >
               <div class="col-8">
                 <label for="name"></label>
                 <input type="text" id="name" class="form-control" formControlName="name"/>
               </div>

               <div class="col-2" >
                 <label></label>
                 <input type="number" id="amount"class="form-control" formControlName="amount"/>
               </div>

               <div class="col-2" style="margin-top:20px">
                   <button class="btn btn-danger">X</button>
               </div>

             </div>
             <hr />
             <div class="row">
                 <div class="col-6">
                   <button class="btn btn-success" type="button" style="margin-top:5px"(click)="OnAddNewIng()">Add new ingredients</button>
                 </div>
             </div>
           </div>
      </div>
    </form> 
  </div>

</div>
