<div *ngIf=item>
  <div class="row">
    <div class="col-xs-12">
      <img [src]="item.imagePath" alt="" class="img-responsive" style="max-height:300px" />
    </div>
  </div>
  <div class="row">
    <div col-xs-12>
      {{item.name}}
    </div>
  </div>
  <div row>
    <div col-xs-12>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a role="button" (click)="toshoppinglist()" class="pe-auto"> To shopping List </a> </li>
          <li><a role="button" routerLink="../{{id}}/edit"> Edit Recipe</a> </li>
          <li><a role="button" class="pe-auto"(click)="OnDelete()">Delete Recipe </a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div col-xs-12>
      {{item.description}}
    </div>
  </div>
  <div class="row">
    <div col-xs-12 >
      <ul class="list-group">
        <a class="list-group-item"
           style="cursor: pointer"
           *ngFor="let ingredient of item.ingredients">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </ul>
    </div>
  </div>
</div>







